*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------- header---------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.a_add {
    width: 60px;
    background-color: #007bff;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.btn_add:hover {
    background-color: #0062cc;
}

/*----------------table --------------------------*/
table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;
}

.a_edit{
    background-color: #007bff;
    color: #fff;
}
.a_delete {
    width: 75px;
    background-color: red;
    color: #ffffff;
    padding: 5px;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;
}

.a_show{
    background-color: #00008bc9;
    color: #fff;
}
/*---------------------- create ----------------------*/
.form_all{
    width: 50%;
    margin: 30px auto;
}
.form_all h2 {
    font-size: 25px;
    margin-bottom: 23px;
    font-weight: bold;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.form_all label {
    font-weight: bold;
}

.form_all input[type="text"],
.form_all input[type="number"],
.form_all textarea {
    width: 100%;
    outline: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form_all select {
    outline: none;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
    background-color: #fff;
}

.form_all input[type="checkbox"] {
    margin-right: 5px;
}

.form_all button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    line-height: 30px;
}

.form_all button[type="submit"]:hover {
    background-color: #3e8e41;
}
/*-------------------- show -----------------------*/

.show_all  {
    padding: 15px 20px;
    width: 70%;
    margin: 30px auto;
    background-color: #f8f8f8;
    border: 1px solid #ccc;

}

.show_all  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.show_all  p {
    margin-bottom: 10px;
}

.show_all ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.show_all li {
    margin-bottom: 5px;
    font-weight: bold;
}

.show_all li:before {
    content: "- ";
}

.show_all li:last-child {
    margin-bottom: 0;
}

.show_all li span {
    font-weight: normal;
}
.show_all .btn_cancel{
    background-color: #3e8e41;
    width: 90px;
    margin: 14px 0;
}
/* ------------------------- EDIT------------------------*/
.btn{
    display: flex;
}
.btn_edit_edit_add{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    margin-right: 5px;
}
.btn_cancel_edit_add{
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60px;
    padding: 0;

    line-height: 30px;
    font-size: 14px;
}
